<section id="main" class="main">


 <div class="container mt-5">
    <form class="needs-validation" action=" /admin/editBrand/{{brand._id}}" method="post" novalidate="">
      <div class="row">
        <div class="col-md-6">
          <h2>Edit Brand</h2><br />
          <div>
        <div class="col-sm-12 col-md-7">
            <label for="">Brand Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              value="{{brand.name}}"
              required=""
            />
            <div class="invalid-feedback">
              Please enter a Brand Name
            </div>
            <label for="">Description</label>
            <input
              type="text"
              class="form-control"
              id="description"
              name="description"
              value="{{brand.description}}"
              required=""
            />
            <div class="invalid-feedback">
              Please give a Description
            </div>
            <label for="">Brand Offer</label>
            <input
              type="text"
              class="form-control"
              id="brandOffer"
              name="brandOffer"
              value="{{brand.brandOffer}}"
              
            />
           

            </div>
            
            <button
                class="btn btn-primary float-right mt-4"
                type="submit" onsubmit="validateform()"
              >Update</button>
            
           
          </div>
        </div>

       
      </div>
    </form>

  </div>

</section>
<script>
 
</script>

