<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="/adminassets/img/logo.png" alt="">
      <span class="d-none d-lg-block">NiceAdmin</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle " href="#">
          <i class="bi bi-search"></i>
        </a>
      </li><!-- End Search Icon-->





      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          
          <span class="d-none d-md-block dropdown-toggle ps-2">George Paul</span>
        <!-- End Profile Iamge Icon -->


      </li><!-- End Profile Nav -->
      <a href="/admin/adminLogout"><button class="btn btn-danger">Logout</button></a>

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->

<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed" href="/admin/charts">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
    <li><a class="nav-link collapsed" data-bs-target="#components-nav" href="/admin/viewproducts/?page=1">
        <i class="bi bi-menu-button-wide"></i><span>Products</span><i class="  ms-auto"></i>
      </a></li>

    </li><!-- End Components Nav -->

    <li class="nav-item">
    <li><a class="nav-link collapsed" data-bs-target="#components-nav" href="/admin/viewUsers/?page=1">
        <i class="bi bi-journal-text"></i><span>Users</span><i class="ms-auto"></i>
      </a></li>

    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" href="/admin/category/?page=1">
        <i class="bi bi-layout-text-window-reverse"></i><span>Category</span><i class=" ms-auto"></i>
      </a>

    </li><!-- End Tables Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" href="/admin/brand/?page=1">
        <i class="bi bi-layout-text-window-reverse"></i><span>Brand</span><i class=" ms-auto"></i>
      </a>

    </li><!-- End Tables Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" href="/admin/salesReport">
        <i class="bi bi-bar-chart"></i><span>Sales Report</span><i class=" ms-auto"></i>
      </a>
    </li><!-- End Charts Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" href="/admin/orderManagement/?page=1">
        <i class="bi bi-bar-chart"></i><span>Orders</span><i class=" ms-auto"></i>
      </a>
    </li><!-- End Charts Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" href="/admin/couponAdding/?page=1">
        <i class="bi bi-bar-chart"></i><span>Coupons</span><i class=" ms-auto"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" href="/admin/banners/?page=1">
        <i class="bi bi-bar-chart"></i><span>Banners</span><i class=" ms-auto"></i>
      </a>
    </li>



  </ul>

</aside><!-- End Sidebar-->