<section style="background-color: #433043;" class="vh-100">
	<div class="container  h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card shadow-2-strong" style="border-radius: 1rem;">
					<div class="card-body">
						<h4 class="checkout-subtitle text-danger">Edit Profile</h4>
						<p class="text title-tag-line">Update Your Details</p>
						<form action="/editUser" method="post" onsubmit="validateForm()"
							class="register-form outer-top-xs" role="form">
							<div class="form-group">
								<label class="info-title" for="exampleInputEmail1">Name <span>*</span></label>
								<input type="text" name="name" class="form-control unicase-form-control text-input"
									id="name" onkeyup="validatename()" value="{{userDetails.name}}">
								<span id="errorName"></span>
							</div>
							<div class="form-group">
								<label class="info-title" for="exampleInputEmail2">Email Address <span>*</span></label>
								<input type="email" name="remail" class="form-control unicase-form-control text-input"
									id="email" onfocus="validatename()" onkeyup="validateEmail()"
									value="{{userDetails.remail}}">
								<span id="errorEmail"></span>
							</div>
							<div class="form-group">
								<label class="info-title" for="exampleInputEmail1">Phone Number <span>*</span></label>
								<input type="tel" name="phone" class="form-control unicase-form-control text-input"
									id="phoneNumber" onfocus="validateEmail()" onkeyup="validatePhoneNumber()"
									value="{{userDetails.phone}}">
								<span id="errorPhoneNumber"></span>
							</div>

							<button type="submit" class="btn-upper btn btn-primary"
								onclick="validateForm()">Update</button>
						</form>
						<p style="text-align: center; color:red" id="errorSubmit"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>

	let ErrorName = document.getElementById('errorName');
	let ErrorEmail = document.getElementById('errorEmail');
	let ErrorPhoneNumber = document.getElementById('errorPhoneNumber')
	let errorPassword1 = document.getElementById('errorPassword1')
	let errorPassword2 = document.getElementById('errorPassword2')
	let ErrorSubmit = document.getElementById('errorSubmit');

	function validatename() {

		let vname = document.getElementById('name').value;
		let required = 4;
		let left = required - vname.length;
		if (vname.length == '' || vname.length == null) {
			ErrorName.innerHTML = 'Fill in Your Name';
			ErrorName.style.color = "red";
			return false;
		}

		if (left > 0) {
			ErrorName.innerHTML = left + 'More Charecters required';
			ErrorName.style.color = "red";
			return false;
		}
		// if(!vname.match(/^[A-Za-z]\s{1}[A-Za-z]$/)){
		//     ErrorName.innerHTML='Write full Name';
		//     return false;
		// }
		ErrorName.innerHTML = 'valid';
		ErrorName.style.color = "green";
		return true;
	}

	function validateEmail() {
		validatename()
		let vemail = document.getElementById('email').value;

		if (vemail.length === 0) {
			ErrorEmail.innerHTML = 'Enter Email Address';
			ErrorEmail.style.color = "red";
			return false

		}
		// if(!vemail.match(/^([\-\.0-9a-zA-Z]+)@([\-\..0-9a-zA-Z]+)\.([a-z]){2,7}$/)){

		else if (!vemail.match(/^([\-\.0-9a-zA-Z]+)@([\-\..0-9a-zA-Z]+)\.([a-z]){2,7}$/)) {
			ErrorEmail.innerHTML = 'Email Invalid';
			ErrorEmail.style.color = "red";

			return false;
		}
		ErrorEmail.innerHTML = 'valid';
		ErrorEmail.style.color = "green";
		return true;
	}

	function validatePhoneNumber() {
		validateEmail()
		let vPhoneNumber = document.getElementById('phoneNumber').value;
		let required = 10;
		let left = required - vPhoneNumber.length;
		if (left > 0) {
			ErrorPhoneNumber.innerHTML = 'invalid phone-number';
			ErrorPhoneNumber.style.color = 'red';
			return false;
		}
		ErrorPhoneNumber.innerHTML = 'valid';
		ErrorPhoneNumber.style.color = 'green';
		return true;
	}



	function validatePassword1() {
		validatePhoneNumber()
		let password1 = document.getElementById('password1').value
		let required = 6;
		let left = required - password1.length;
		if (password1.length == '') {
			errorPassword1.innerHTML = 'Please Enter Your password'
			errorPassword1.style.color = 'red'
			return false
		} else if (left > 0) {
			console.log(left)
			errorPassword1.innerHTML = 'Password Must be atleast 6 characters'
			errorPassword1.style.color = 'red'
			return false
		}
		errorPassword1.innerHTML = ''
		return true
	}

	function validatePassword2() {
		validatePassword1()
		let password1 = document.getElementById('password1').value
		let password2 = document.getElementById('password2').value
		if (password2.length == '' || password2.length <= 5) {
			errorPassword2.innerHTML = 'Password Must be atleast 6 characters'
			errorPassword2.style.color = 'red'
			return false
		} else if (password1 != password2) {
			errorPassword2.innerHTML = 'Password does not match'
			errorPassword2.style.color = 'red'
			return false
		}
		errorPassword2.innerHTML = ''
		return true
	}


	function validateForm() {

		if (!validatename() || !validateEmail() || !validatePhoneNumber() || !validatePassword1() || !validatePassword2()) {
			ErrorSubmit.style.display = 'block';
			ErrorSubmit.innerHTML = 'Please fix error';
			event.preventDefault()

			setTimeout(function () { ErrorSubmit.style.display = 'none'; }, 5000);
			return false;
		}
		return false
	}

</script>